.sidebar{
  display:flex;
  flex-direction: column;
  flex:0.35;
}

.sidebar__header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 16px;
  border-right:1px solid lightgray;
}
.sidebar__headerRight{
  display:flex;
  align-items:center;
  justify-content: space-between;
  min-width: 10vh;
}

.sidebar__search{
  display:flex;
  align-items:center;
  padding:10px;
  background: #f6f6f6;
}

.sidebar__searchContainer{
  display:flex;
  align-items:center;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background: white;
}

.sidebar__searchContainer:first-child{
  color: gray;
  padding: 10px; 
}

.sidebar__searchContainer > input {
  border: 0;
  outline-width: 0;
  margin-left: 10px;
  width: 100%;
}

.sidebar__chats{
  flex:1;
  background: white;
  overflow:hidden;
}